<div class="sentenceDetail">
  <p>{{sentence.english}}</p>
  <p>{{sentence.chinese}}</p>


  <div class="keyPoint" ng-repeat="keyPoint in sentence.keyPoints">
    <input ng-readonly="!viewState.editing" ng-model="keyPoint.key">
    <button>保存</button>
    <button class="pull-right">删除</button>
    <div class="kp" ng-repeat="kp in keyPoint.kps">

      <textarea rows="8" ng-readonly="!kp.$editing" ng-model="kp.kp.text"></textarea>
      <button ng-click="editKeyPoint(kp)" ng-disabled="kp.$editing">编辑</button>
      <button ng-click="saveKeyPoint(kp)" ng-disabled="!kp.$editing">保存</button>

      <button ng-click="cancelKeyPoint(kp)" ng-disabled="!kp.$editing">取消</button>
      <!--<button>删除</button>-->
    </div>
    <!--<button>添加新知识点</button>-->
  </div>
  <button>添加新短语</button>
</div>