<div class="col-xs-6 scroller sentenceDetail">

  <div class="sentence">
    <textarea rows="2" ng-readonly="!sentence.$editing" ng-model="sentence.english"></textarea>
    <textarea rows="2" ng-readonly="!sentence.$editing" ng-model="sentence.chinese"></textarea>
    <button ng-click="editSentence(sentence)" ng-disabled="sentence.$editing">编辑</button>
    <button ng-click="saveSentence(sentence)" ng-disabled="!sentence.$editing">保存</button>
    <button ng-click="cancelSentence(sentence)" ng-disabled="!sentence.$editing">取消</button>
  </div>

  <div class="keyPoint" ng-repeat="keyPoint in sentence.keyPoints">
    <input ng-readonly="!keyPoint.$editingKey" ng-model="keyPoint.key">
    <button ng-click="editKeyPointKey(keyPoint)" ng-disabled="keyPoint.$editingKey">编辑</button>
    <button ng-click="saveKeyPointKey(keyPoint)" ng-disabled="!keyPoint.$editingKey">保存</button>
    <button ng-click="cancelKeyPointKey(keyPoint)" ng-disabled="!keyPoint.$editingKey">取消</button>
    <button class="pull-right">删除</button>
    <div class="kp" ng-repeat="kp in keyPoint.kps">

      <textarea rows="8" ng-readonly="!kp.$editing" ng-model="kp.kp.text"></textarea>
      <button ng-click="editKp(kp)" ng-disabled="kp.$editing">编辑</button>
      <button ng-click="saveKp(kp)" ng-disabled="!kp.$editing">保存</button>
      <button ng-click="cancelKp(kp)" ng-disabled="!kp.$editing">取消</button>
      <!--<button>删除</button>-->
    </div>
    <!--<button>添加新知识点</button>-->
  </div>
  <button>添加新知识点</button>
</div>