<div class="modal-header">
  <h4 class="modal-title">
    创建新知识点
  </h4>
</div>

<form class="modal-body"
      name="form"
      role="form">
  <p>{{sentence.english}}</p>
  <p>{{sentence.chinese}}</p>
  <div class="form-group form-group-sm">
    <label for="key-point-key" class="control-label">KeyPoint位置</label>
    <input class="form-control"
           id="key-point-key"
           type="text"
           focus-me
           ng-model="newKeyPoint.key"
           required/>
  </div>
  <div class="form-group form-group-sm">
    <label for="key-point-text" class="control-label">KeyPoint内容</label>
    <textarea class="form-control"
           id="key-point-text"
           ng-model="newKeyPoint.text"
           required></textarea>
  </div>

</form>

<div class="modal-footer">
  <button type="button"
          class="btn btn-default btn-sm"
          ng-click="cancel()">取消</button>
  <button type="submit"
          class="btn btn-danger btn-sm"
          ng-click="save(form)">保存</button>
</div>